<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div id="allBox">
        <!-- ---------TOP BOX---------------- -->
        <div id="topBox">
            <h4 class="yourGold">Your Gold:</h4>
            <h4 class="totalGold">{{request.session.userTotal}}</h4>
        </div>
        <!-- ---------MIDDLE BOX------------- -->
        <div id="midBox">
            <!-- ___Farm___ -->
            <div class="place">
                <h2>Farm</h2>
                <p>(earns 10-20 golds)</p>
                <form class="form" action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="findGold" value="1">
                    <button type="submit">Find Gold!</button>
                </form class="form">
            </div>
            <!-- ___Cave___ -->
            <div class="place">
                <h2>Cave</h2>
                <p>(earns 5-10 golds)</p>
                <form class="form" action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="findGold" value="2">
                    <button type="submit">Find Gold!</button>
                </form class="form">
            </div>
            <!-- ___House___ -->
            <div class="place">
                <h2>House</h2>
                <p>(earns 2-5 golds)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="findGold" value="3">
                    <button type="submit">Find Gold!</button>
                </form>
            </div>
            <!-- ___Casino___ -->
            <div class="place">
                <h2>Casino</h2>
                <p>(earns/takes 0-50 golds)</p>
                <form action="/process_money" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="findGold" value="4">
                    <button type="submit">Find Gold!</button>
                </form>
            </div>
        </div>
        <!-- ---------BOTTOM BOX------------- -->
        <div id="bottomBox">
            <h5>Activities:</h5>
            <div class="activity">
                {% for findGold in request.session.history %}
                    <p class="{{request.session.color}}">{{findGold}}</p>
                {% endfor %}
            </div>
            <form action="/reset" method="POST">
                {% csrf_token %}
                <button type="submit">RESTART</button>
            </form>
        </div>
    </div>
</body>
</html>