
/* BODY */
#allBox{
    flex-wrap: wrap;
    padding: 10px 20px;
}



/* TOPBOX */
#topBox{
    flex-wrap: wrap;
    display: flex;
}
.yourGold{

}
.totalGold{
    border: 2px solid black;
    min-width: 200px;
    padding-left: 3px;
    margin-left: 5px;
}


/* MIDDLE BOX */
#midBox{
    flex-wrap: wrap;
    display: flex;
}
.place{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid black;
}
button{
    box-shadow: 2px 2px 2px black;
}


/* BOTTOM BOX */
#bottomBox{

}
.activity{
    border: 2px solid black;
    overflow: auto;
    height: 100px;
    padding: 5px;
}
.red{
    color: red;
}
.green{
    color: green;
}
.yellow{
    color: gold;
}